# Python
__pycache__/
*.pyc
.venv/
uploads/

# Frontend
frontend/node_modules/
frontend/dist/

# Git
.git/
.gitignore

# Env (use --env-file or -e instead)
.env

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
